<div class="container">
  <span>Enter amount: </span> <input type="number" [(ngModel)]="amount">
  <button
    (click)="requestChange()"
    [disabled]="amount === amountRequested">Count change</button>
</div>

<app-change-results
    *ngIf="changeResults != null"
    [amount]="amountRequested"
    [changeResults]="changeResults"
    [denominations]="denominations">
</app-change-results>

<div class="loader" *ngIf="requestPending"></div>

<div class="error-message" *ngIf="!requestPending && errorMessage != null">{{ errorMessage }}</div>
