:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  height: 100vh;
  font-size: 3vh;

  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  align-self: center;
  display: flex;

  padding: 30px;
  background: rgba(0.6, 0.6, 0.6, 0.6);
  border-radius: 13px;
}

input, button {
  margin: 0 3px;
  border-radius: 10%;
}

input {
  box-shadow: none;
}

app-change-results {
  margin-top: 10px;
}

.error-message {
  background: #e22e2e62;
  border-radius: 13px;
  overflow: hidden;
  padding: 10px;
  margin-top: 10px;
}

.loader {
  display: inline-block;
  width: 51px;
  height: 51px;
  margin: 6px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

