<div>
  <span>Change results for ${{ amount }}</span>
  <ng-container *ngFor="let denomination of denominations">
    <div class="denomination-result" *ngIf="changeResults[denomination] != null">
      <span class="denomination-label">${{ denomination }}:</span>
      <span class="note-count">{{ changeResults[denomination] }}</span>
    </div>
</ng-container>
</div>
